.cl--hide {
    display: none !important;
}

.cl--visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.cl--active {
    background-color: var(--primary-bg-color);
    color: var(--text-white);
}

.hide {
    display: none !important;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}