@use "reset";
@use "base-fonts";
@use "colors";
@use 'utils';
@use 'swal';

#quizApp {
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    margin-inline: auto;
    padding: 15px;

    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;

}


.welcome-screen,
.question-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    opacity: 1;
    transition: opacity .3s ease-in-out;

    &.hide {
        display: none;
        opacity: 0;
    }


    h1.title,
    .question-title {
        font-size: 5.6rem;
        text-transform: uppercase;
        font-size: 56px;
        letter-spacing: -1px;
        font-weight: 700;
        line-height: .8em;

        @media screen and (max-width: 768px) {
            font-size: 3.5rem;
        }
    }

    p.description,
    .question-desc {
        font-family: "Montserrat Light", sans-serif;
        font-size: 18px;
        line-height: 1.1;
        letter-spacing: 0;
        color: #57575c;
    }

    button {
        background-color: var(--primary-bg-color);
        cursor: pointer;
        padding: 14px 40px;
        font-size: 2.2rem;
        background: #9caf89;
        color: white;
        transition: opacity .3s ease-in-out;

        &:hover {
            opacity: .8;
        }

        @media screen and (max-width: 768px) {
            padding: 10px 20px !important;
            font-size: 1.5rem !important;
        }
    }

    .button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        max-width: 85%;
        width: 100%;

        button {
            font-size: 1.6rem;
            padding: 10px 20px;
        }
    }

    .question-list {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 25px auto;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
        }

        li {
            list-style: none;
            padding: 10px 20px;
            // background-color: rgba(0, 0, 0, 0.85);
            border: 1px solid rgba(0, 0, 0, 0.85);
            color: #57575c;
            cursor: pointer;
            transition: opacity .3s ease-in-out;
            font-size: 1.8rem;

            &:hover {
                opacity: .8;
            }

            &.active {
                background-color: rgba(0, 0, 0, 0.85);
                color: white;
            }

            @media screen and (max-width: 768px) {
                padding: 10px 20px !important;
                font-size: 1.5rem !important;
                width: 100%;
            }
        }
    }
}

.title {
    font-size: 3rem;
    margin: 30px auto;
}

// Products list
.ombraz__products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 900px;
    padding-bottom: 30px;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    .ombraz__product {
        border: 1px solid #57575c;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 1px 2px 10px rgba(0, 0, 0.95);
        max-height: 450px;
        height: 100%;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            object-fit: cover;
        }

        h3 {
            font-size: 2.2rem;
            font-weight: 700;
            margin: 10px 0;
        }

        p {
            font-size: 2rem;
        }

    }
}

.ombraz__product-buy-now {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #57575c;
    color: white;
    font-size: 2rem;
    border-radius: 5px;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .3s ease-in-out;

    &:hover {
        opacity: .8;
    }
}